<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" style="padding-top: 20px;">
            <div class="container" style="padding-left: 0px; padding-right: 0px;">
                <div class="row">
                    <div class="col-sm" style="text-align: left;">
                        {{ title }}
                    </div>
                    <div class="col-sm" style="text-align: right;">
                        <button type="button" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="container box" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-2" style="text-align: right;">
                        <strong><em>Item:</em></strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        {{ expenseEntry.item }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" style="text-align: right;">
                        <strong><em>Amount:</em></strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        {{ expenseEntry.amount }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" style="text-align: right;">
                        <strong><em>Category:</em></strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        {{ expenseEntry.category }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" style="text-align: right;">
                        <strong><em>Location:</em></strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        {{ expenseEntry.location }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" style="text-align: right;">
                        <strong><em>Spend On:</em></strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        {{ expenseEntry.spendOn }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="x1" class="container">
    <!-- <h1>{{appName}}</h1> -->
    <!-- <button (click)="display()">submit</button> -->
    <!-- <button (click)="display()">Show hidden text (onclick)</button>
    <button on-click="display()">Show hidden text on-click</button>

    <h5 *ngIf="flag">i am out becosee some one clied on button above me</h5> -->

    <!-- <hr>
    <h2>Event Binding</h2> -->
    <!-- <button (click)="showData($event)">Click here</button> -->
    <!-- <button on-click="showData($event)">Click here</button> -->
    <!-- <hr>
    <h2>Property Binding</h2> -->
    <!-- Property binding is used to bind the data from property of a component to DOM elements. -->

    <!-- <input type="text" [value]="userName"> -->

    <!-- Attribute binding is used to bind the data from component to HTML attributes. -->

    <!-- <hr>
    <h2>Class Binding</h2> -->
    <!-- Class binding is used to bind the data from component to HTML class property -->
    <!-- <p [class]="myCSSClass">This paragraph class comes from *myClass* property </p>
    <p [class.blue]="applyCSSClass">This paragraph class does not apply</p> -->

    <!-- <hr>
    <h2>Style Binding</h2>
    <p [style.color]="myColor">Text color is styled using style binding</p> -->

    <!-- <hr>
    <h2>NgModel</h2>
    <input type="text" [(ngModel)]="userName"> -->
</div>



<!-- Page Content
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" style="padding-top: 20px;">
            <div class="container" style="padding-left: 0px; padding-right: 0px;">
                <div class="row">
                    <div class="col-sm" style="text-align: left;"> {{ nitalli }}
                    </div>
                    <div class="col-sm" style="text-align: right;">
                        <button type="button" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="container box" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-2" style="text-align: right;">
                        <strong><em>Item:</em></strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        Pizza
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" style="text-align: right;">
                        <strong><em>Amount:</em></strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        20
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" style="text-align: right;">
                        <strong><em>Category:</em></strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        Food
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" style="text-align: right;">
                        <strong><em>Location:</em></strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        Zomato
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" style="text-align: right;">
                        <strong><em>Spend On:</em></strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        June 20, 2020
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->